body {
  background-color: #bebebe;
  font-family: Arial, Helvetica, sans-serif;
}

#about-me {
  min-width: 98vw;
  min-height: 75vw;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
}